@import '../../../styles.scss';


h1{
    width: 60vw;
    
    text-align: center;
}

*{
    transition: all 0.1s ease-in-out;
}

.contact-form{
    display: flex;
    flex-direction: column;

    width: 40vw;
}

label{
    margin-block: 1rem;
    margin-right: 1rem;

    font-size: 2rem;
    font-weight: 200;

    color: $gris;
}

.name-surname{
    display: flex;

    justify-content: center;

    width: 100%;
}

form{
    display: flex;
    flex-direction: column;

    align-items: center;

    font-family: Roboto Condensed;

    *{
        outline: none;
    }
}

.error{
    font-size: 1.5rem;
    font-weight: 100;
    color: red;
}

input{
    background-color: white;
    
    font-size: 1.6rem;
    font-weight: 200;

    border: solid 1px $light-orange;
    
    border-radius: 2px;
    
    &:hover, &:focus{
        border: solid 1px $orange;
    }
}

select{
    background-color: white;
    
    font-family: Roboto condensed;
    font-size: 1.4rem;
    font-weight: 100;

    border: solid 1px $light-orange;
    border-radius: 2px;

    &:hover, &:focus{
        border: solid 1px $orange;
    }
}

.form-input{
    display: flex;
    flex-direction: column;

    width: 100%;

    .error{
        display: flex;
        justify-content: center;
    }
}

.name-surname{
    display: flex;
    justify-content: space-between;
}


.name{
    margin-inline: 2rem;

    input{
        width: 100%;
    }
}

textarea{
    resize: none;
    
    border: solid 1px $light-orange;
    border-radius: 2px;

    font-size: 1.5rem;

    height: calc(4 * 1.1 * 1.5rem );

    &:hover, &:focus{
        border: solid 1px $orange;
    }
}

//  Mobiles

@media (max-width: 480px) {

    .contact-form{
        width: 100%;
    }

    h1{
        width: auto;
        font-size: 4.8rem;
    }

    .container{
        width: 100%;
        padding-inline: 3.5rem;
    }

    h1{
        font-size: 4.8rem;
    }
}

//  Tablets

@media (max-width: 840px) {

    .contact-form{
        width: 100%;
    }

    h1{
        width: auto;
        font-size: 4.8rem;
    }
    
    .container{
        width: 100%;
        padding-inline: 3.5rem;
    }
}
   