<div class="heroContainer">
    <img src="./assets/imgs/HEROBG-3.JPG" alt="" id="bgPhotoHERO">
    <div class="rightContainer">
        <div class="mainHEROText">
            <h2 class="uppercase">Tristan Lacombe</h2>
            <h1 class="uppercase">Des <span class="interest">volcans</span> à développeur Web Full Stack</h1>
            <button class="btnBelow" (click)="scrollBtn()">À propos</button>
            <img src="./assets/imgs/HEROBG-3.JPG" alt="" id="bgPhotoHEROMobile">
        </div>
  
        <div class="deco">
            <div class="decoBig"></div>
            <div class="decoSmall" id="decoSmallOne"></div>
            <div class="decoSmall" id="decoSmallTwo"></div>
            <div class="decoSmall" id="decoSmallThree"></div>
        </div>
    </div>
  </div>
  
  <div class="whoAmI panel">
    <div class="grid-container">
        <div class="leftContainer">
        <h1>Qui suis-je ?</h1>
        </div>
  
        <div class="middleContainer">
        <p>Après un <span class="interest">Doctorat en Sciences de la Terre</span>, Je me lance dans une reconversion en tant que développeur Web Full Stack. Pour l'instant je me forme seul sur des technologies telles que <span class="interest">Javascript, NodeJs ou Angular</span>, avec une expérience en <span class="interest">Python</span> et <span class="interest">MatLab</span> pour l'analyse de données grâce a ma formation scientifique.</p>
        <p>Sur le long terme c'est le développement web <span class="interest">Full Stack</span> qui m'intéresse, le Front- et le Back-end m'intéressant tout autant.</p>
        <p>Je suis aussi <span class="interest">photographe</span>, j'ai eu la chance de passer ces dernières années en Auvergne, région qui offre une grande diversité de paysages. Initialement photographe de <span class="interest">paysages</span> j'ai enrichi ma palette avec de la photographie de <span class="interest">spectacle</span> et de <span class="interest"> rue</span>.</p>
        </div>
  
        <img src="./assets/imgs/IMG_1240.JPG" alt="" class="bgPhotoHERO">
    </div>
  </div>