@import '../../../styles.scss';

// *{
//     border: dashed 1px #ff00aa;
// }

.container{
    display: flex;
    flex-direction: column;

    align-items: center;
    margin-block: 6rem;
    
    width: 100vw;
}

.mention{
    padding-left: 2rem;
}